* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     outline: none;
     text-decoration: none;
     border: none;
     scroll-behavior: smooth;
     font-family: 'myriad-pro', sans-serif;
}

:root {
     --main-color: #1566a0;
     --green: #069223;
     --light-black: #3d4755;

     --bg-color: #fff;
     --bg-second-color: #f8f9fa;

     --text-color: rgba(0, 0, 0, 0.8);

     --border: .1rem solid grey;
     --border-second: .1rem solid rgb(255, 255, 255);

     --border-blue: .1rem solid var(--main-color);
     --border-green: .1rem solid var(--green);
     --border-light-black: .1rem solid var(--light-black);

     --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

html {
     font-size: 62.5%;
     overflow-x: hidden;
}

section {
     min-height: auto;
}

.heading {
     font-size: 3.9rem;
     line-height: normal;
     margin-bottom: 3rem;
     color: var(--text-color);
     text-transform: uppercase;
     text-align: center;
     font-weight: 500;
     padding: 0 1.5rem;
}

.btn {
     display: inline-block;
     padding: 1.3rem;
     border-radius: .1rem;
     font-size: 1.5rem;
     transition: .3s ease-in;
     background-color: var(--bg-color);
     color: var(--text-color);
}

.btn-active {
     background-color: var(--main-color);
     color: var(--bg-color);
}

.btn:hover {
     background-color: var(--main-color);
     color: var(--bg-color);
}

.header {
     height: 90px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 1rem;
     position: fixed;
     top: 0;
     right: 0;
     width: 100%;
     background-color: var(--bg-color);
     z-index: 100;

}

.header .logo img {
     height: 65px;
}

.header.sticky {
     box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.header {
     font-size: 1.5rem;
     font-weight: 10;
}

.navbar ul {
     display: flex;
     justify-content: space-between;
     align-items: center;
     list-style-type: none;
     gap: 2rem;
}

.navbar ul a {
     color: black;
     transition: .2s ease-in;
}

.navbar ul a:hover {
     color: blue;
}

.navbar ul li {
     position: relative;
}

.navbar ul li .dropdown {
     display: grid;
     position: absolute;
     width: max-content;
     top: 2rem;
     left: -1rem;
     background-color: var(--bg-color);
     gap: 1.4rem;
     padding: 1rem;
     border-radius: .5rem;
     box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
     display: none;
     transition: .2s ease-in;
}

.navbar ul li:hover .dropdown {
     display: grid;
}

.header .menu {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 1rem;
}

.header .btn {
     background-color: var(--main-color);
     padding: 1.5rem 1rem;
     color: var(--bg-color);
     border: var(--border-blue);
     border-radius: .5rem;
     display: inline-block;
}

.header .btn:hover {
     border: var(--border-blue);
     background-color: var(--bg-color);
     color: var(--main-color);
}

#hamburg {
     font-size: 3.5rem;
     color: var(--text-color);
     display: none;
     cursor: pointer;
}

#cancel {
     font-size: 3.5rem;
     color: var(--text-color);
     cursor: pointer;
     display: none;
}

.home {
     background-color: var(--bg-second-color);
     margin-top: 12px;
}

.home .carousel {
     overflow: hidden;
     width: 100%;
     max-width: 100vw;
     height: auto;
     max-height: 100vh;
}

.home .carousel-container {
     display: flex;
     transition: transform 0.5s ease;
     width: 100%;
     height: auto;
}

.carousel {
     position: relative;
     box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
     margin-top: 26px;
}

.carousel-inner {
     position: relative;
     overflow: hidden;
     width: 100%;
}

.carousel-open:checked+.carousel-item {
     position: static;
     opacity: 100;
}

.carousel-item {
     position: absolute;
     opacity: 0;
     -webkit-transition: opacity 0.6s ease-out;
     transition: opacity 0.6s ease-out;
}

.carousel-item img {
     display: block;
     height: auto;
     max-width: 100%;
}

.carousel-control {
     background: rgba(0, 0, 0, 0.28);
     border-radius: 50%;
     color: #fff;
     cursor: pointer;
     display: none;
     font-size: 40px;
     height: 40px;
     line-height: 35px;
     position: absolute;
     top: 50%;
     -webkit-transform: translate(0, -50%);
     cursor: pointer;
     -ms-transform: translate(0, -50%);
     transform: translate(0, -50%);
     text-align: center;
     width: 40px;
     z-index: 10;
}

.carousel-control.prev {
     left: 2%;
}

.carousel-control.next {
     right: 2%;
}

.carousel-control:hover {
     background: rgba(0, 0, 0, 0.8);
     color: #aaaaaa;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3,
#carousel-4:checked~.control-4,
#carousel-5:checked~.control-5 {
     display: block;
}

.carousel-indicators {
     list-style: none;
     margin: 0;
     padding: 0;
     position: absolute;
     top: 15%;
     left: 5%;
     text-align: center;
     z-index: 20;
}

.carousel-indicators label {
     display: block;
     margin: 2rem 0;
}

.carousel-bullet {
     color: #fff;
     cursor: pointer;
     display: block;
     font-size: 35px;
     border-bottom: var(--border);
     border-width: .3rem;
     width: 20px;
}

.carousel-indicators li label:hover {
     color: var(--main-color);
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked~.control-4~.carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked~.control-5~.carousel-indicators li:nth-child(5) .carousel-bullet {
     border: var(--border-blue);
     border-width: .2rem;
     width: 30px;
}

.form-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     font-size: 1.5rem;
     z-index: 90;
     position: absolute;
     top: 80%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 80vw;
     font-weight: 700;
}

.form-container .heading {
     display: none;
     color: var(--bg-color);
}

.form-container .up {
     display: flex;
     justify-content: center;
     gap: 1rem;
}

.form-container .up .btn {
     border-radius: .5rem .5rem 0 0;
}

.form-container .down {
     width: 100%;
}

.form-container .down .broker-form {
     display: flex;
     justify-content: space-between;
     gap: 1rem;
     background-color: var(--bg-color);
     padding: 1rem;
     border-radius: 1rem;
     margin-bottom: 2rem;
     width: inherit;
     /* flex-basis: 20%; */
}

.form-container .down div {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     gap: 1rem;
     padding: 1rem;
     width: 100%;
}

.form-container .down div:last-child {
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
}

.form-container .down div input {
     border: var(--border);
     padding: .2rem;
     border-radius: .5rem;
}

.form-container .down div input {
     padding: 1rem;
     width: 100%;
     height: 40px;
}

.form-container .down div input.btn {
     border: none;
     padding: 1rem;
     background-color: var(--main-color);
     color: var(--bg-color);
     cursor: pointer;
     width: 100%;
     height: 40px;
}

.form-container .down div select {
     border: var(--border);
     padding: 1rem;
     border-radius: .5rem;
     width: 200px;
     width: 100%;
     height: 40px;
}

.active {
     display: block;
}

.sale .heading,
.rent .heading {
     padding-top: 2rem;
}

.sale {
     background-color: var(--bg-second-color);
}

.rent {
     background-color: var(--bg-color);
}

.sale .sale-container,
.rent .rent-container {
     display: flex;
     transition: transform 0.5s ease;
     width: 100%;
     height: auto;
     justify-content: space-around;
     padding: 4% 5%;
     gap: 3rem;
     flex-wrap: wrap;
     flex-basis: 500px;
}

.slider {
     display: flex;
     height: auto;
     max-height: auto;
     overflow-y: hidden;
     overflow-x: scroll !important;
     margin: 2% 50px;
     transform: scroll(calc(var(--i, 0)/var(--n)*-100%));
     scroll-behavior: smooth;
     gap: 5%;
}

.sale,
.rent {
     position: relative;
     margin: 0 1%;
}

.slider::-webkit-scrollbar {
     height: 5px;
     width: 150px;
     display: none;
}

.slider::-webkit-scrollbar-track {
     background: transparent;
}

.slider::-webkit-scrollbar-thumb {
     background: #888;
}

.slider::-webkit-scrollbar-thumb:hover {
     background: #555;
}

.slide .box {
     width: 350px;
     min-width: 200px;
     z-index: 50;
}

.control-prev-btn {
     position: absolute;
     top: 50%;
     left: 1px;
     background-color: var(--main-color);
     height: 80px;
     line-height: 100px;
     width: auto;
     text-align: center;
     box-shadow: 0 1px 3px #888;
     user-select: none;
     color: var(--bg-color);
     cursor: pointer;
     border-top-right-radius: .5rem;
     border-bottom-right-radius: .5rem;
}

.control-next-btn {
     position: absolute;
     top: 50%;
     right: 1px;
     background-color: var(--main-color);
     height: 80px;
     line-height: 100px;
     width: auto;
     text-align: center;
     box-shadow: 0 1px 3px #888;
     user-select: none;
     color: var(--bg-color);
     cursor: pointer;
     border-top-left-radius: .5rem;
     border-bottom-left-radius: .5rem;
}

.flex-center {
     display: flex;
     justify-content: center;
     align-items: center;
}

.control-prev-btn i,
.control-next-btn i {
     font-size: 3.5rem;
     z-index: 100;
}

.overlay {
     position: absolute;
     height: 100%;
     width: 100%;
     background: rgba(0, 0, 0, .45);
     top: 0;
     display: none;
}

.overlay.active {
     display: block;
}

.box {
     width: 31%;
     min-width: 250px;
     background-color: var(--bg-color);
     /* box-shadow: var(--box-shadow); */
     box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
     /* border: var(--border); */
     padding: 2rem;
     z-index: 10;
}

.box .box-up {
     width: 100%;
     position: relative;
}

.box .box-up img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.box .box-up::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     /* Change the color and opacity to adjust the shade */
     opacity: 1;
     transition: opacity 0.3s ease;
}

.box .box-up:hover::before {
     opacity: 0;
}

.box-content h3 {
     font-size: 1.6rem;
     margin-top: 1.5rem;
     word-wrap: none;
}

.box-content h3 a {
     color: var(--light-black);
}

.box-content p {
     font-size: 1.5rem;
     font-weight: 100;
     margin-top: 1rem;
     color: #999;
}

.btn-container .btn {
     background-color: var(--main-color);
     color: white;
     border: var(--border-blue);
     padding: 1rem;
     border-radius: .3rem;
}

.btn-container .btn:hover {
     background-color: var(--bg-color);
     color: var(--main-color)
}

.btn-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.box-content .icon {
     border-top: .1rem solid #999;
     border-bottom: .1rem solid #999;
     font-size: 2rem;
     color: #999;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     padding: 0.8rem 0;
     margin-top: .5rem;
     gap: 1rem;
}

.box-content .icon span {
     display: flex;
     justify-content: center;
     align-items: center;
}

.box-content .icon span p {
     margin-top: 0;
}

.box-content .links,
.product .links {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 2rem;
}

.box-content .links a,
.product .links a {
     height: 50px;
     width: 50px;
     background-color: var(--main-color);
     color: white;
     font-size: 3rem;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: .2rem;
     border: var(--border-blue);
}

.box-content .links .whatsapp,
.product .links .whatsapp {
     background-color: var(--green);
     border: var(--border-green);
}

.box-content .links .whatsapp:hover,
.product .links .whatsapp:hover {
     color: var(--green);
}

.box-content .links a:hover,
.product .links a:hover,
.view-more-btn .btn:hover {
     background-color: white;
     color: var(--main-color);
}

.view-more-btn {
     display: flex;
     justify-content: center;
     align-items: center;
}

.view-more-btn .btn {
     margin: 2rem 0;
     background-color: var(--main-color);
     color: white;
     border: var(--border-blue);
}

.buy {
     min-height: auto;
}

.buy .background {
     background-image: linear-gradient(rgb(56 106 138 / 79%), rgb(56 106 138 / 79%)), url(../img/buyers-tenants.png);
     background-repeat: no-repeat;
     background-size: cover;
     width: 100%;
     min-height: 70vh;
     display: flex;
     justify-content: space-around;
     align-items: center;
     position: relative;
     padding: 0 7%;
}

.buy .background .left {
     color: white;
     z-index: 1;
}

.buy .background .left h2,
.search .background .left h2 {
     text-transform: none;
     color: white;
     text-align: start;
     padding: 0;
}

.buy .background .left p,
.search .background .left p {
     font-size: 1.7rem;
     line-height: 2rem;
     color: var(--bg-second-color);
}

.buy .background .left .btn,
.search .background .right .btn {
     margin-top: 2rem;
}

.buy .background .left .btn:hover,
.search .background .right .btn:hover {
     background-color: var(--light-black);
}

.buy .background .right {
     padding: 2rem;
     z-index: 1;
}

.buy .background .right form {
     background-color: var(--bg-color);
     padding: 2rem;
     display: flex;
     flex-direction: column;
     gap: 1rem;
     border-radius: .5rem;
     border: var(--border);
     width: 350px;
}

.buy .background .right form input {
     border: var(--border);
     padding: 1rem 1rem;
}

.buy .background .right form .btn {
     background-color: var(--main-color);
     border: var(--border-blue);
     color: var(--bg-second-color);
}

.buy .background .right form .btn:hover {
     background-color: var(--bg-second-color);
     color: var(--main-color);
}

.buy .background .right form h2 {
     text-transform: none;
}

.search {
     min-height: auto;
}

.search .background {
     background-image: linear-gradient(rgb(56 106 138 / 79%), rgb(56 106 138 / 79%)), url(../img/sell-rent.webp);
     background-repeat: no-repeat;
     background-size: cover;
     width: 100%;
     min-height: 45vh;
     display: flex;
     justify-content: space-around;
     align-items: center;
     position: relative;
     padding: 0 7%;
}

.search .background .left {
     color: white;
     z-index: 1;
     width: 60vw;

}

.search .background .right {
     color: white;
     z-index: 1;
     display: flex;
     justify-content: center;
     align-items: center;
}

.customer {
     background-color: var(--bg-second-color);
     padding: 1rem 3rem;
}

.partners {
     padding: 1rem 3rem;
}

.customer .heading,
.partners .heading {
     padding-top: 3rem;

}

.customer .container,
.partners .container {
     overflow: auto;
     display: flex;
     scroll-snap-type: x mandatory;
     width: 100%;
     gap: 3rem;
     padding: 1rem 0;
}

.customer .container::-webkit-scrollbar,
.partners .container::-webkit-scrollbar {
     width: 0.5em;
     background-color: transparent;
}

.customer .container::-webkit-scrollbar-thumb,
.partners .container::-webkit-scrollbar-thumb {
     background-color: transparent;
}

@keyframes carouselAnimation {
     0% {
          transform: translateX(0);
     }

     20% {
          transform: translateX(-100%);
     }

     40% {
          transform: translateX(-210%);
     }

     60% {
          transform: translateX(-310%);
     }

     80% {
          transform: translateX(-420%);
     }

     95% {
          transform: translateX(-520%);
     }

     /* Add more keyframes as needed for additional items */
}

.customer .container:hover .item,
.partners .container:hover .item {
     animation-play-state: running;
}

.customer .container .item {
     position: relative;
     flex-shrink: 0;
     scroll-snap-align: start;
     transition: transform 1s ease;
     flex: 0 0 50%;
     animation: carouselAnimation 15s infinite;
     animation-play-state: paused;
     /* other design */
     padding: 7rem 4rem 1rem;
     background-color: var(--bg-color);
     border-radius: 1rem;
     box-shadow: var(--box-shadow);
     margin: 1rem;
}

.partners .container .item {
     flex-shrink: 0;
     scroll-snap-align: start;
     transition: transform 1s ease;
     flex: 0 0 25%;
     animation: carouselAnimation 15s infinite;
     animation-play-state: paused;
     display: flex;
     justify-content: center;
     align-items: center;
}

.partners .container .item img {
     width: 130px;
}

.customer .container .item p {
     font-size: 1.5rem;
     line-height: 3rem;
     font-weight: 500;
}

.customer .container .item .qoutes {
     position: absolute;
     top: 1rem;
     left: 1.5rem;
     background-color: var(--main-color);
     padding: 1rem;
     border-radius: 10rem;
}

.customer .container .item .qoutes i {
     color: var(--bg-color);
     font-size: 2rem;
}

.customer .container .item .profile {
     display: flex;
     gap: 1rem;
     align-items: center;

}

.customer .container .item .profile .pic img {
     border-radius: 10rem;
}

.customer .container .item .profile h2 {
     font-size: 2.5rem;
}

.stars i {
     padding-top: 1rem;
     color: orange;
     font-size: 2rem;
}

.video .container {
     display: flex;
     justify-content: center;
}

video {
     width: 100%;
     margin-bottom: -10px;
}

footer {
     background: #1c232b;
}

.footer .box-container {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
     gap: 2rem;
     align-items: flex-start;
     padding: 2rem;
     padding-top: 3rem;
}

.footer .box-container .box1 {
     color: var(--bg-color);
     margin-top: 2rem;
}

.footer .box-container .box1 .logo img {
     height: 80px;
}

.footer .box-container .box1 p {
     font-size: 1.5rem;
     line-height: 3rem;
     margin-top: 2rem;
}

.footer .box-container .box1 .links {
     display: flex;
     gap: 1rem;
     align-items: center;
     flex-wrap: wrap;
     margin-top: 3rem;
}

.footer .box-container .box1 .links a {
     background: var(--bg-color);
     border-radius: 3rem;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 35px;
     width: 35px;
}

.footer .box-container .box1 .links a i {
     color: var(--light-black);
     font-size: 2.5rem;
     padding: 0;
}

.footer .box-container .box1 .links a {
     padding: 1rem;
}

.footer .box-container .box1 h3 {
     font-size: 2.5rem;
     text-transform: capitalize;
     margin-bottom: 2rem;
}

.footer .box-container .box1 a i {
     padding-right: 1rem;
}

.footer .box-container .box1 a {
     display: block;
     padding: .6rem 0;
     font-size: 1.7rem;
     color: var(--bg-color);
     transition: .2s linear;
     padding-left: 1rem;
}

.footer .box-container .box1 a:hover {
     padding-left: 2rem;
}

.footer .credit {
     padding: 1.8rem;
     text-align: center;
     background-color: #081637;
     font-size: 1.5rem;
     padding-bottom: 3rem;
     font-weight: 100;
     color: var(--bg-color);
     display: flex;
     justify-content: space-between;
     gap: 1rem;
     flex-wrap: wrap;
}

.top {
     position: fixed;
     bottom: 1rem;
     right: 2rem;
     z-index: 100;
}

.top a {
     background-color: var(--main-color);
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: .3rem;
}

.top a i {
     font-size: 4rem;
     color: var(--bg-color);
}

/* Index Page code end page  */

.buy-home {
     position: relative;
     height: max-content;
     min-height: 400px;
     background-color: var(--light-black);
}

.buy-home .img-container {
     margin-top: 90px;
     position: relative;
     height: 60vh;
     min-height: 400px;
}

.buy-home .img-container .content {
     position: absolute;
     top: 35%;
     text-align: center;
     left: 50%;
     transform: translate(-50%, -50%);
     color: var(--bg-color);
     font-size: 1.7rem;
     font-weight: 700;
     width: 80%;
}

.buy-home .img-container .content h2 {
     color: var(--bg-color);
     font-weight: 600;
}

.buy-home .img-container .content .links {
     margin-bottom: 2rem;
}

.buy-home .img-container .content a {
     color: var(--bg-color);
}

.buy-home .img-container .content a i {
     font-size: 1.7rem;
     padding-right: 1rem;
}

.buy-home .img-container .content a:hover {
     color: var(--main-color);
}

.buy-home .img-container img {
     width: 100%;
     object-fit: cover;
     height: 100%;
}

.buy-home .form-container {
     top: 80%;
}

.buy .sale-container {
     padding: 4rem 1rem;
     gap: .5rem;
}

.buy .sale-container .box {
     width: 24%;
     padding: 0;
     margin: .3rem;
}

.buy .sale-container .box .box-up {
     position: relative;
     height: 250px;
}

.buy .sale-container .box .box-up .btn {
     position: absolute;
     bottom: 1rem;
     right: 0rem;
     z-index: 200;
     background-color: var(--light-black);
     color: var(--bg-color);
     cursor: pointer;
     padding: .7rem 1rem;
}

.buy .sale-container .box .box-content {
     padding: 1rem;
}

.buy .sale-container .box .box-content>p {
     margin-bottom: 1rem;
}

/* start property section */

.property-details .img-container .content {
     top: 50%;
}

.product {
     width: 100vw;
     padding: 1rem;
}

.product .container {
     display: flex;
     gap: 1rem;
     width: 100%;
     overflow: hidden;
     padding: 2% 5%;
}


.product .container .left {
     padding: 2rem;
     background-color: var(--white);
     box-shadow: var(--box-shadow);
     margin-top: 1rem;
     width: 70%;
}


.product .container .left .row .image-container {
     margin-bottom: 2rem;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
}

.product .container .left .row .image-container .main-image {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
}

.product .container .left .row .image-container .main-image img {
     height: 45rem;
     width: 100%;
     object-fit: contain;
}

.product .container .left .row .image-container .sub-image {
     margin-top: 2rem;
     gap: 1.5rem;
     display: flex;
     justify-content: flex-start;
     overflow: auto;
     scroll-snap-type: x mandatory;
     width: 100%;
}

/* .product .container .left .row .image-container .sub-image:hover img {
     animation-play-state: running;
} */

.product .container .left .row .image-container .sub-image img {
     height: 7rem;
     width: 10rem;
     object-fit: contain;
     cursor: pointer;
     border: var(--border);
     flex-shrink: 0;
     scroll-snap-align: start;
     flex: 0 0 10%;
     /* animation: carouselAnimation 15s infinite; */
     /* animation-play-state: paused; */
}

.product .container .left .row h2 {
     font-size: 2.5rem;
     font-weight: 500;
     margin-bottom: 1.5rem;
     margin-top: 2rem;
     color: var(--light-black);
}

.product .container .left .row span {
     font-size: 1.5rem;
     font-weight: 600;
     color: grey;
     margin: 1rem 0;
}

.product .container .left .row span a {
     font-size: 1.5rem;
     font-weight: 600;
     color: grey;
}

.product>.container .left>.row>span {
     margin-top: 2rem;
}

.product .container .left .link:hover a {
     color: var(--main-color);
}

.product .container .left .row p {
     font-size: 1.5rem;
     line-height: 2.5rem;
     color: grey;
}

.product .container .left .row p a {
     font-size: 2rem;
     color: grey;
}

.product .container .left .row .features {
     display: flex;
     gap: 2rem;
     border: var(--border);
     padding: 2rem;
     justify-content: space-around;
     align-items: center;
}

.product .container .left .row .features p {
     display: flex;
     justify-content: center;
     align-items: center;
}

.product .container .left .row .features p i {
     font-size: 2rem;
}

.product .container .left .row .details {
     display: flex;
     gap: 2rem;
     border: var(--border);
     padding: 2rem;
     justify-content: space-around;
     align-items: center;
     text-align: center;
}

.product .container .right form {
     /* width: 30vw; */
     background-color: var(--bg-second-color);
     border-radius: .5rem;
     box-shadow: var(--box-shadow);
     display: flex;
     flex-direction: column;
     padding: 1rem;
     margin: 1rem;
     gap: 1rem;
}

.product .container .right form .agent {
     display: flex;
     gap: 2rem;
}

.product .container .right form .agent h2 {
     font-size: 2rem;
     font-weight: 400;
}

.product .container .right form .agent h2 span {
     font-weight: 700;
}

.product .container .right form .agent .profile-pic img {
     width: 120px;
     height: auto;
}

.product .container .right form p {
     text-align: center;
     font-size: 1.5rem;
     padding: 1rem .5rem;
}

.product .container .right form input,
.product .container .right form textarea {
     border: var(--border);
     border-radius: .5rem;
     padding: 1rem;
     resize: none;
}

.product .container .right form textarea {
     height: 120px;
}

.product .container .right form .flex {
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 1.2rem;
}

.product .container .right form .flex .btn {
     background-color: var(--main-color);
     color: var(--bg-color);
     border: var(--border-blue);
     cursor: pointer;
}

.product .container .right form .flex .btn:hover {
     background-color: var(--bg-color);
     color: var(--main-color);
     border: var(--border-blue);
     cursor: pointer;
}

.call-agent .img-container .content h2 {
     font-weight: 500;
     font-size: 3rem;
}

.call-agent .img-container .content .btn {
     background-color: rgba(74, 74, 236, 0.336);
     border: var(--border-blue);
     color: var(--bg-color);

}

.call-agent .img-container .content .btn:hover {
     background-color: var(--main-color);
     color: var(--bg-color);
     border: var(--border-blue);
}

/* services section  */

.buy-home.center .img-container .content {
     top: 50%;
}


.dual-color-container .line {
     display: grid;
     grid-template-columns: 1fr 1fr;
     justify-content: space-between;
     gap: 2rem;
     padding: 2% 7%;
}

.dual-color-container .line.one {
     grid-template-columns: 1fr;
}

.dual-color-container .line.grey {
     background-color: #d4d4d447;
}

.dual-color-container .line.white {
     background-color: var(--bg-color);
}

.dual-color-container .line div {
     /* min-width: 300px; */
     margin: 2rem 0;
     line-height: 2.5rem;
}


.dual-color-container .line div h2 {
     font-size: 2.4rem;
     color: var(--main-color);
     margin-bottom: 1rem;
}

.dual-color-container .line div p {
     font-size: 1.5rem;
     color: #000;
}

.dual-color-container .line div ul {
     font-size: 1.5rem;
     color: #000;
     margin-left: 2rem;
     margin-top: 2rem;
}

@media (width>1400px) {
     html {
          font-size: 75%;
     }

     .slider .slide .box {
          width: 450px;
     }

}

@media (width<992px) {
     html {
          font-size: 50%;
     }

     #hamburg {
          display: block;
     }

     .navbar {
          position: absolute;
          height: 100vh;
          width: 50%;
          background: rgb(61 72 84 / 90%);
          top: 0;
          width: 50%;
          right: 0;
          display: none;
          font-size: 1.8rem;
     }

     .navbar ul {
          display: grid;
          padding: 4rem 0 1rem 4rem;
     }

     .navbar ul a,
     #cancel {
          color: var(--bg-color);
     }

     .navbar ul li .dropdown {
          display: grid;
          position: relative;
          top: 1rem;
          width: 100%;
          display: none;
     }

     .navbar ul li .dropdown a {
          color: var(--text-color);
     }

     .navbar ul a:hover {
          color: var(--bg-color);
          text-decoration: underline;
     }

     .navbar ul li:hover .dropdown {
          display: grid;
     }

     .navbar ul li .dropdown li:hover {
          color: var(--main-color);
     }

     #cancel {
          position: absolute;
          right: 1rem;
          top: 1rem;
          display: block;
     }

     .active {
          display: block;
     }

     .home .form-container {
          top: 60%;
     }

     .buy .background {
          padding: 0 2%;
     }

     .search .background {
          padding: 0 2%;
     }

     .footer .credit {
          justify-content: center;
     }

     /* Index Page code end page  */

     /* start property detail page  */

     .product .container {
          flex-direction: column;
     }

     .product .container .left {
          width: 100%;
     }
}

@media (width<778px) {
     .heading {
          font-size: 3rem;
     }

     .home .carousel {
          height: auto;
          margin-top: 10vh;
     }

     .home {
          background-color: #3d4854e6;
     }

     .form-container,
     .buy-home .form-container {
          position: relative;
          top: 0;
          margin-top: 3rem;
          width: 90%;
          right: 5%;
          left: 5%;
          transform: translate(0);
          z-index: 0;
     }

     .buy-home {
          height: 120vh;
          height: max-content;
     }

     .buy-home .img-container .content {
          top: 50%;
     }

     .buy-home .img-container .form-container {
          position: static;
          top: 0rem;
     }

     .form-container .heading {
          display: block;
     }

     .form-container .down .broker-form {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: .2rem;
     }

     .form-container .down div input {
          padding: 1rem;
          width: 100px;
          height: auto;
     }

     .form-container .down div input.btn {
          padding: 1rem;
          height: 35px;
     }

     .form-container .down div select {
          padding: 1rem;
          height: auto;
     }

     .buy .background {
          flex-direction: column;
     }

     .buy .background .left h2 {
          margin-top: 2rem;
          margin-bottom: 1rem;
     }

     .buy .background .right {
          width: 100%;
          display: flex;
          justify-content: center;
     }

     .buy .background .right form {
          width: 90%;
     }

     .search .background {
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          min-height: auto;
     }

     .search .background .left {
          width: auto;
     }

     .search .background .left h2 {
          margin-top: 4rem;
          margin-bottom: 1rem;
          font-size: 2.5rem;
          font-weight: 500;
     }

     .search .background .right {
          width: 100%;
          justify-content: flex-end;
          align-items: flex-start;
     }

     .search .background .right .btn {
          margin-bottom: 3rem;
          margin-top: 2rem;
     }

     .customer .container .item {
          flex: 0 0 100%;
     }

     .partners .container .item {
          flex: 0 0 50%;
     }

     /* Index Page code end page  */

     /* services section  */

     .dual-color-container .line {
          grid-template-columns: 1fr;
          padding: 2% 3%;
     }

     .dual-color-container .line div p {
          font-size: 1.6rem;
     }

     .dual-color-container .line div ul {
          font-size: 1.6rem;
     }
}

@media (width<601px) {
     html {
          font-size: 48%;
     }

     .heading {
          font-size: 2.5rem;
     }

     /* .form-container {
          top: -2rem;
     } */

     .box {
          width: 90%;
     }


     /* Index Page code end page  */

}


@media only screen and (max-width: 420px) {
     .slider {
          padding: 0;
          /* margin: 0 6%; */
     }

     .slider .slide .box {
          width: 280px;
     }

     .slider::-webkit-scrollbar {
          padding: 16px 10px;
     }

     .slide img {
          margin: 0;
     }

     .control-prev-btn {
          top: 37%;
     }

     .control-next-btn {
          top: 37%;
     }
}


@media (width<401px) {
     .partners .container .item {
          flex: 0 0 100%;
     }

     /* Index Page code end page  */
}